@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1F2937;
    color: #e5e7eb;
    margin: 245px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 168px;
    padding-top: 0;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    margin-bottom: 100px;
}


.hero nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo img {
    width: 200px;
    height: auto;
}

.hero .header {
    display: flex;
    gap: 80px;
}

.hero .header h3{
    color: #F9FaF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin-left: 75px;
}

.header .subHeader p {
    color: #e5e7eb;
    font-size: 18px;
    padding: 16px;
    margin-left: 65px;
}

.header .subHeader button {
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 8px 32px;
    border-radius: 8px;
    margin-left: 75px;
    font-size: 18px;
    border: none;
}

.header img {
    width: 520px;
    height: 300px;
    margin-right: 75px;
}

/* Second Part */
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 24px;
    margin-top: 40px;
    margin-left: 132px;
    padding-left: 202px;
    padding-right: 382px;
}

.body h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.body .image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    
}

.body .image .figure {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.body .figure img {
    width: 200px;
    height: 150px;
    border: 6px solid #3882F6;
    border-radius: 8px;

}

.body .figure figcaption {
    flex-wrap: wrap;

}




